.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image,
.image > img {
  position: absolute;
  left: 0;
  width: 100vw;
}

.image > img:nth-child(5) {
  top: 7vw;
}

.image > img:nth-child(6) {
  top: 28vw;
}

.image > img:nth-child(7) {
  top: 120vh;
}

.image > img:nth-child(8) {
  top: 100vh;
}

.contact {
  margin-top: 40vw;
  padding-left: 10vw;
}

.bp {
  padding-left: 5vw;
}

.contact ul li,
.work ul li,
.bp ul li {
  color: #656565;
  font-size: 20px;
  margin-bottom: 1em;
  display: flex;
}

.contact ul li span,
.work ul li span,
.bp ul li span {
  margin-left: 1em;
}

.contact ul li:nth-child(2) img {
  margin-left: -8px;
}

@media (max-width: 600px) {
  .image > img:nth-child(5),
  .image > img:nth-child(7),
  .image > img:nth-child(8) {
    display: none;
  }
}
