.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image,
.image img {
  position: absolute;
}

.image {
  left: 0;
  width: 100%;
}

.image > img:nth-child(1) {
  position: absolute;
  left: 0;
  width: 78vw;
}

.image > img:nth-child(2) {
  position: absolute;
  right: 0;
  width: 53vw;
}

.detail {
  margin-top: 12vw;
}

.detail p {
  font-size: 18px;
}

@media (max-width: 600px) {
  .detail {
    margin-top: 5em;
  }
}
