@font-face {
  font-family: 'Alibaba-Snas';
  font-weight: 300;
  src: url('/fonts/AlibabaSans-Light.otf');
}

@font-face {
  font-family: 'Alibaba-Sans';
  font-weight: 400;
  src: url('/fonts/AlibabaSans-Regular.otf');
}

@font-face {
  font-family: 'Alibaba-Sans';
  font-weight: 500;
  src: url('/fonts/AlibabaSans-Medium.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Alibaba-Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  background-image: url('/images/bg.jpg');
  background-size: 100%;
  background-repeat: repeat-y;
  background-color: #ffffff;
}

article {
  width: 50vw;
  max-width: 800px;
  margin-bottom: 10vw;
  z-index: 1;
}

article h1 {
  color: #d1071f;
  font-weight: lighter;
  font-size: 2em;
  text-transform: uppercase;
}

article h2,
article h3 {
  color: #d1071f;
  font-weight: bolder;
  text-transform: uppercase;
}

article section {
  color: #1f1f1f;
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
}

article section img {
  width: 100%;
}

@media (max-width: 600px) {
  article {
    width: auto;
    padding: 0 2em;
  }
}
