.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.headerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.logo img {
  width: 180px;
  height: auto;
}

.menu {
  display: flex;
  color: #ffffff;
  text-align: center;
}

.menu ul {
  margin-right: 2em;
}

.menu ul:hover > div {
  border-bottom: 3px solid #d1071f;
}

.menu ul > div {
  font-size: 18px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.menu ul:hover > li {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.menu ul > li {
  font-size: 16px;
  color: #ffffffb3;
  border-bottom: 1px solid #ffffff;
  margin: 0 0.5em;
  padding: 0.5em 0;
  opacity: 0;
}

.menu ul > li:hover {
  color: #ffffff;
}

.menu ul > li:nth-last-child(1) {
  border-bottom: none;
}

.menu button {
  border: 1px solid #ffffff;
  border-radius: 12px;
  background: transparent;
  color: #ffffff;
  height: 2em;
  line-height: 2em;
  cursor: pointer;
}

@media (max-width: 600px) {
  .headerContainer {
    padding: 2em 1em;
  }
  .logo img {
    width: 120px;
  }
  .menu {
    display: none;
  }
}
