.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image,
.image > img {
  position: absolute;
  left: 0;
  width: 100vw;
}

.image > img:nth-child(6) {
  top: 28vw;
}

.slogan {
  display: flex;
  margin-top: 40vw;
}

.slogan > section:nth-child(1) {
  padding: 0 2em 2em 2em;
  width: 300px;
}

.slogan > section:nth-child(2) {
  width: calc(100% - 300px);
}

.qrcode {
  text-align: center;
}

.qrcode img {
  width: 15em;
}

@media (max-width: 1200px) {
  .slogan {
    flex-direction: column;
  }

  .slogan > section:nth-child(1) {
    width: 50%;
    margin: 2em auto;
    padding: 0;
  }
  .slogan > section:nth-child(2) {
    width: 100%;
  }

  .qrcode img {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .image > img:nth-child(5) {
    display: none;
  }
}
