.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image,
.image > img {
  position: absolute;
  left: 0;
  width: 100vw;
}

.image > img:nth-child(5) {
  top: 7vw;
}

.image > img:nth-child(6) {
  top: 28vw;
}

.list {
  margin-top: 40vw;
}

.item ul a {
  color: #1f1f1f;
  font-size: 18px;
  display: block;
  padding: 0.5em 0;
  border-bottom: 1px solid #1f1f1f;
}

.item ul a:hover {
  color: #656565;
}

.item ul li {
  display: flex;
}

.item ul span {
  margin-right: 1em;
}

.pageContainer {
  margin-top: 2em;
  text-align: right;
}

.pageContainer li {
  display: inline-block;
  width: 3em;
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  color: #999999;
}

.pageSelected {
  color: black !important;
}

.pageDisabled {
  color: #e6e6e6 !important;
  cursor: default !important;
}

@media (max-width: 600px) {
  .image > img:nth-child(5) {
    display: none;
  }
}
