.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image,
.image > img {
  position: absolute;
  left: 0;
  width: 100vw;
}

.image > img:nth-child(5) {
  top: 7vw;
}

.image > img:nth-child(6) {
  top: 28vw;
}

.about {
  margin-top: 40vw;
}

@media (max-width: 600px) {
  .image > img:nth-child(5) {
    display: none;
  }
}
